{% load static %}
{%load crispy_forms_tags %}

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Empresa</title>
</head>
<body>
    <header>
        {% include 'Navbar_up.html' %}
    </header>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Cadastro Empresa</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <form method="post" class="uniForm">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
    <div>
        <footer>
            {% include 'Navbar_down.html' %}
        </footer>
    </div>

</body>
</html>