{% load static %}

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Contato</title>
</head>
<body>

    <header>
        {% include 'Navbar_up.html' %}
    </header>
    <div>
        <h2>Cadastro Contato</h2>
        <form name = "Cadastro Empresa" method="post" action="."> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Cadastrar">
        </form>
    </div>
    <footer>
        {% include 'Navbar_down.html' %}
    </footer>

</body>
</html>