{% load static %}

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Contato</title>
</head>
<body>

    <header>
        {% include 'Navbar_up.html' %}
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Cadastro Contato</h2>
            </div>
        </div>
        <div class="row mb-6 justify-content-center my-3">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="form-group">
                    <form name = "Cadastro Empresa" method="post" action="."> 
                        {% csrf_token %}
                        <div class="form-row">
                            <div>
                                <label for="nome_contato">
                                    Nome
                                </label>
                                {{ form.nome_contato }}
                            </div><br>
                            <div>
                                <label for="nome_empresa_contato">
                                Empresa
                                </label>
                                {{ form.nome_empresa_contato }}
                            </div><br>
                        </div>
                        <div class="form-row">
                            <label for="cargo_contato">
                                Cargo
                            </label>
                            {{ form.cargo_contato }}
                        </div><br>
                                                <div class="form-row">
                            <label for="email_contato">
                                E-mail
                            </label>
                            {{ form.email_contato }}
                        </div><br>
                        <div class="form-row">
                            <label for="telefone_contato">
                                Telefone
                            </label>
                            {{ form.telefone_contato }}
                        </div><br>
                        <input type="submit" value="Cadastrar">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        {% include 'Navbar_down.html' %}
    </footer>

</body>
</html>