{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link {% static 'css/homepage.css' %} rel="stylesheet">


<style>h3{color: red}</style>    

<head>
    <meta charset="UTF-8">
    <title>Lead Qualifier | Login</title>
</head>

<body>
    <div>
    <header>
        {% include 'Navbar_up.html' %}
    </header>

    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}  

    <div class="container" style="background-color: white">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4" style="transform: translateY(50%)">
                <div class="card border-light shadow-sm mb-4">
                    <div class="card-body">
                        <div>
                            <form action="login" method="POST">
                                {% csrf_token %}
                                <p>Usuário:</p>
                                <input type="text" name="usuario"/>
                                <p>Senha:</p>
                                <input type="password" name="senha"/>
                                <input type="submit"/>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        {% include 'Navbar_down.html' %}
    </footer>
    </div>
</body>

