{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link {% static 'css/homepage.css' %} rel="stylesheet">

<footer class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="col-sm" id="footer">
        <a class="navbar-brand flex-grow-1" style="text-align: center ; color: #ffffff; margin-left: 25px">
            Navbar-Bottom
        </a>
    </div>
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>